<h1>Welcome to the Garden</h1>

<div class="container-sm mx-auto">
  <div class="row">
    <div class="col mb-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/garden.jpg" alt="Garden">
        <div class="card-body">
          <h5 class="card-title">Community Gardens</h5>
          <p class="card-text">Explore all of our glorious gardens around the world.</p>
          <a href="/gardens" class="btn btn-primary">Explore gardens</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/plot.jpg" alt="Community garden plots">
        <div class="card-body">
          <h5 class="card-title">Available Plots</h5>
          <p class="card-text">Find the perfect plot to grow your dream garden.</p>
          <a href="/plots" class="btn btn-primary">Find a plot</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/flower_shop.jpg" alt="Flower shop">
        <div class="card-body">
          <h5 class="card-title">Flower Shops</h5>
          <p class="card-text">Find the nearest location with your flowers in-stock.</p>
          <a href="/flower_shops" class="btn btn-primary">Find a shop</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/flower.jpg" alt="Yellow flowers">
        <div class="card-body">
          <h5 class="card-title">In-Stock Flowers</h5>
          <p class="card-text">Choose blossoms to brighten your day.</p>
          <a href="/flowers" class="btn btn-primary">Explore flowers</a>
        </div>
      </div>
    </div>
  </div>
</div>
